<?xml version="1.0"?>
<configuration> 
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Fascia_Test_Stand.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Fascia_Test_Stand.My.MySettings.DBCULMConnectionString" connectionString="Data Source=srv_culm;Initial Catalog=DBCULM;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Fascia_Test_Stand.My.MySettings.RFIDBitsConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Rehau Fascia Test Stand\Fascia Test Stand\Databases\RFID_BITS.mdb" providerName="System.Data.OleDb"/>
    <add name="Fascia_Test_Stand.My.MySettings.RFID_BITSConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Rehau Fascia Test Stand\Fascia Test Stand\Databases\RFID_BITS.mdb" providerName="System.Data.OleDb"/>
    <add name="Fascia_Test_Stand.My.MySettings.Test_InformationConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Rehau Fascia Test Stand\Fascia Test Stand\Databases\Test_Information.mdb" providerName="System.Data.OleDb"/>
    <add name="Fascia_Test_Stand.My.MySettings.Test_InformationConnectionString1" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Rehau Fascia Test Stand\Fascia Test Stand\Databases\Test_Information.mdb" providerName="System.Data.OleDb"/>
    <add name="Fascia_Test_Stand.My.MySettings.CANMessages_ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Rehau Fascia Test Stand\Fascia Test Stand\Databases\CAN Databases\CAN_Messages.mdb"/>
    <add name="Fascia_Test_Stand.My.MySettings.LINMessages_ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Rehau Fascia Test Stand\Fascia Test Stand\Databases\LIN Databases\LIN_Messages.mdb"/>
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NationalInstruments.Common" publicKeyToken="18CBAE0F9955702A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.35.190" newVersion="13.0.35.190"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Fascia_Test_Stand.My.MySettings>
      <setting name="MainErrorLogPath" serializeAs="String">
        <value>C:\Logs\</value>
      </setting>
    </Fascia_Test_Stand.My.MySettings>
  </applicationSettings>
  </configuration>
